body {
    background: rgb(255 255 255);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
}
header {
    width: 130%;
    background-color: rgb(0 0 0);
    color: rgb(255 255 255);
    padding: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}
header #logo a {

    background-repeat: no-repeat;
    font-size: 0;
    height: 40px;
    width: 182px;
    display: block;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
header nav ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
}
.right{
    display: flex;
    gap: 100px;
    padding:0px 0px 0px 500px;
    
}
a{
    font-size: x-large;
    color: white;
}
#desktopimage{
    margin-top:0px;
    position: sticky;
    top:0px;
    z-index: 10;
}
#box{
    width: 50%;
    height: auto;
    position:absolute;
    top:20px;
    z-index: 9;
    margin-left: 265px;
    margin-right: 115px;
    margin-top: 370px;

}

form {
    width: 90%;
    margin: 3% auto;
    padding: 3%;
}
  input[type="submit"] {
    background-color:green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    font-size: 20px;
  }
  input{
    display: block;
    width: 95%;
    margin: 15px 0px;
    font-size: 20px;
    padding: 2%;
  }
.card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,300px);
    grid-template-areas:
    "a b"
    "c d"
    "e e";
    gap:20px;
    margin:auto;
    margin-top: 10px;
    padding:10px 100px 0px 130px;
    background-color: rgb(230, 250, 250);
}
.card>div:nth-child(1)
{
    grid-area: a;
}
.card>div:nth-child(2)
{
    grid-area: b;
}
.card>div:nth-child(3)
{
    grid-area: c;
}
.card>div:nth-child(4)
{
    grid-area: d;
}
.card>div:nth-child(5)
{
    grid-area: e;
}

.card>div{
    width: 100%;
}
.card img{
    width:100%;
    height: 100%;
}
select{
    width: 80%;
    text-align: center;
    font-weight: 400;
    background-color: rgb(255 255 255);
    border-top: solid 1px rgb(0 0 0 / 12%);
    color: rgb(0 0 0);
    opacity: 0.59;
    display: block;
    margin: 10px 10px 0px 220px;
    font-size: 20px;
    padding: 0.5%;
}
#para{
    width: 100%;
    height: auto;
    padding: 10px 100px 0px 200px;
    margin-top: 10px;

    background-color: rgb(230, 250, 250);
}
#para>p{
    text-align: justify;
}
 #slogn{
    width: 25%;
    height: 25%;
    background-size: contain;
    margin: 0px 16px;
 }
 #slogn>img{
    width:100%  
 }




